openapi: "3.1.0"
info:
  title: Pictify API
  version: 1.0.0
  description: |
    Generate images, GIFs, and PDFs from HTML templates programmatically.

    ## Authentication
    All API requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer pk_live_your_api_key
    ```

    ## Rate Limits
    - Free: 60 requests/minute
    - Pro: 300 requests/minute
    - Business: 1,000 requests/minute

    Rate limit headers are included in all responses.
  contact:
    email: support@pictify.io
    url: https://pictify.io
  license:
    name: MIT

servers:
  - url: https://api.pictify.io
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the Pictify dashboard
    writeKeyAuth:
      type: apiKey
      in: header
      name: X-Write-Key
      description: Write key for client-side experiment event tracking. Safe to expose in browser code.

  schemas:
    Error:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: Link to error documentation
          example: https://docs.pictify.io/errors/invalid-api-key
        title:
          type: string
          description: Short error title
          example: Invalid API Key
        status:
          type: integer
          description: HTTP status code
          example: 401
        detail:
          type: string
          description: Detailed error message
          example: The provided API key is invalid or has been revoked.
        instance:
          type: string
          description: Request path that caused the error
          example: /image

    ImageRequest:
      type: object
      properties:
        html:
          type: string
          description: HTML content to render
        url:
          type: string
          format: uri
          description: URL to screenshot (mutually exclusive with html)
        template:
          type: string
          description: Template UID to render
        variables:
          type: object
          additionalProperties: true
          description: Variables to populate in the template
        width:
          type: integer
          minimum: 1
          maximum: 4000
          default: 1200
          description: Output width in pixels
        height:
          type: integer
          minimum: 1
          maximum: 4000
          default: 630
          description: Output height in pixels
        selector:
          type: string
          description: CSS selector to capture specific element
        fileExtension:
          type: string
          enum: [png, jpg, jpeg, webp]
          default: png
          description: Output image format

    ImageResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL of the generated image
          example: https://cdn.pictify.io/renders/abc123.png
        userStorageUrl:
          type: string
          format: uri
          description: URL in user's configured storage (if configured)
        id:
          type: string
          description: Unique image identifier
          example: img_abc123
        createdAt:
          type: string
          format: date-time
          description: Timestamp when image was created

    RenderResponse:
      type: object
      description: Render response. Always returns a `results` array, even for single-layout renders.
      properties:
        results:
          type: array
          description: Array of rendered images, one per layout
          items:
            type: object
            properties:
              layout:
                type: string
                description: Layout key ('default' for base layout)
                example: twitter-post
              name:
                type: string
                description: Display name of the layout
                example: Twitter/X Post
              url:
                type: string
                format: uri
                description: URL of the rendered image
                example: https://cdn.pictify.io/renders/abc123.png
              width:
                type: integer
                description: Image width in pixels
              height:
                type: integer
                description: Image height in pixels
              format:
                type: string
                description: Image format
                example: png
              id:
                type: string
                description: Unique render identifier
        errors:
          type: array
          description: Layout keys that failed to render
          items:
            type: object
            properties:
              layout:
                type: string
              error:
                type: string
        totalLayouts:
          type: integer
          description: Total number of layouts requested
        totalRendered:
          type: integer
          description: Number of successfully rendered layouts
        totalErrors:
          type: integer
          description: Number of failed layouts
        templateUid:
          type: string
          description: Template ID that was rendered

    GifRequest:
      type: object
      properties:
        html:
          type: string
          description: HTML content with CSS animations
        url:
          type: string
          format: uri
          description: URL to capture
        template:
          type: string
          description: Template UID
        variables:
          type: object
          additionalProperties: true
        width:
          type: integer
          minimum: 1
          maximum: 2000
          default: 800
        height:
          type: integer
          minimum: 1
          maximum: 2000
          default: 600

    GifCaptureRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL to capture
        width:
          type: integer
          minimum: 1
          maximum: 2000
          default: 800
        height:
          type: integer
          minimum: 1
          maximum: 2000
          default: 600
        quality:
          type: string
          enum: [low, medium, high]
          default: medium
          description: Quality preset
        frameDurationSeconds:
          type: number
          minimum: 1
          maximum: 30
          description: Recording duration in seconds

    GifResponse:
      type: object
      properties:
        gif:
          type: object
          properties:
            url:
              type: string
              format: uri
            uid:
              type: string
            width:
              type: integer
            height:
              type: integer
            animationLength:
              type: number
              description: Animation duration in seconds

    PdfRenderRequest:
      type: object
      required:
        - templateUid
      properties:
        templateUid:
          type: string
          description: Template UID
        variables:
          type: object
          additionalProperties: true
        options:
          type: object
          properties:
            preset:
              type: string
              enum: [A4, Letter, Legal, A3, A5, custom]
              default: A4
            customSize:
              type: object
              properties:
                width:
                  type: integer
                height:
                  type: integer
            margins:
              type: object
              properties:
                top:
                  type: integer
                bottom:
                  type: integer
                left:
                  type: integer
                right:
                  type: integer
            title:
              type: string

    PdfMultiPageRequest:
      type: object
      required:
        - templateUid
        - variableSets
      properties:
        templateUid:
          type: string
        variableSets:
          type: array
          items:
            type: object
            additionalProperties: true
          minItems: 1
          maxItems: 100
        options:
          $ref: '#/components/schemas/PdfRenderRequest/properties/options'

    PdfResponse:
      type: object
      properties:
        success:
          type: boolean
        url:
          type: string
          format: uri
        userStorageUrl:
          type: string
          format: uri
        pageCount:
          type: integer
        preset:
          type: string
        pageSize:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer

    Template:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        type:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        width:
          type: integer
        height:
          type: integer
        thumbnail:
          type: string
          format: uri
        outputFormat:
          type: string
          enum: [image, pdf]
        variableDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/VariableDefinition'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VariableDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [text, image, color, number, boolean]
        defaultValue:
          type: string
        description:
          type: string
        validation:
          type: object
          properties:
            required:
              type: boolean
            minLength:
              type: integer
            maxLength:
              type: integer

    BatchRenderRequest:
      type: object
      required:
        - variableSets
      properties:
        variableSets:
          type: array
          items:
            type: object
            additionalProperties: true
          minItems: 1
          maxItems: 100
        format:
          type: string
          enum: [png, jpeg, webp]
          default: png
        quality:
          type: number
          minimum: 0.1
          maximum: 1
          default: 0.9
        layout:
          type: string
          pattern: '^[a-z0-9-]{1,64}$'
          description: Layout variant to use for all batch items. Omit for default layout.
        layouts:
          type: array
          items:
            type: string
            pattern: '^[a-z0-9-]{1,64}$'
          description: Array of layout variant names to render for all batch items. Use instead of `layout` to render multiple layouts per item.
        concurrency:
          type: integer
          minimum: 1
          maximum: 10
          default: 5

    BatchResponse:
      type: object
      properties:
        batchId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed, partial, cancelled]
        totalItems:
          type: integer
        message:
          type: string

    BatchStatus:
      type: object
      properties:
        batchId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed, partial, cancelled]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        totalItems:
          type: integer
        completedItems:
          type: integer
        failedItems:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
                description: Zero-based index of this item in the batch
              success:
                type: boolean
                description: Whether this batch item rendered successfully
              variables:
                type: array
                items:
                  type: string
                description: Variable names used for this item
              results:
                type: array
                description: Rendered images, one per requested layout
                items:
                  type: object
                  properties:
                    layout:
                      type: string
                      description: Layout key ('default' for base layout)
                      example: twitter-post
                    name:
                      type: string
                      description: Display name of the layout
                      example: Twitter/X Post
                    url:
                      type: string
                      format: uri
                      description: URL of the rendered image
                    width:
                      type: integer
                      description: Image width in pixels
                    height:
                      type: integer
                      description: Image height in pixels
                    format:
                      type: string
                      description: Image format
                      example: png
                    id:
                      type: string
                      description: Unique render identifier
              errors:
                type: array
                description: Layout keys that failed to render for this item
                items:
                  type: object
                  properties:
                    layout:
                      type: string
                    error:
                      type: string
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    WebhookSubscription:
      type: object
      properties:
        uid:
          type: string
        event:
          type: string
          enum: [render.completed, render.failed, binding.updated, binding.failed]
        targetUrl:
          type: string
          format: uri
        platform:
          type: string
          enum: [zapier, make, n8n, pipedream, custom]
        status:
          type: string
          enum: [active, paused, failed]
        filters:
          type: object
          properties:
            templateId:
              type: string
            bindingId:
              type: string
        deliveryCount:
          type: integer
        failureCount:
          type: integer
        lastDeliveryAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    Binding:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        templateId:
          type: string
        dataSource:
          type: object
          properties:
            type:
              type: string
              enum: [http, webhook, static]
            url:
              type: string
              format: uri
            method:
              type: string
              enum: [GET, POST]
        mapping:
          type: object
          additionalProperties:
            type: string
        defaults:
          type: object
          additionalProperties: true
        refreshPolicy:
          type: object
          properties:
            type:
              type: string
              enum: [ttl, etag, webhook, manual]
            ttlSeconds:
              type: integer
            onError:
              type: string
              enum: [serve_stale, serve_error, serve_default]
        status:
          type: string
          enum: [active, paused, error]
        renderUrl:
          type: string
          format: uri
        webhookUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    Experiment:
      type: object
      required:
        - uid
        - slug
        - type
        - name
        - status
        - variants
        - createdAt
        - updatedAt
      properties:
        uid:
          type: string
          example: exp_abc123
        slug:
          type: string
          description: URL-friendly identifier (3-60 chars, lowercase alphanumeric + hyphens)
          example: homepage-hero-test
        type:
          type: string
          enum: [ab_test, smart_link, scheduled]
          description: Experiment type
        name:
          type: string
          description: Experiment name
          example: Homepage Hero A/B Test
        status:
          type: string
          enum: [draft, running, paused, completed, archived]
          description: Current experiment status
        templateUid:
          type: string
          description: Default template UID for variants
          example: tmpl_xyz789
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariant'
        goalConfig:
          $ref: '#/components/schemas/GoalConfig'
        banditConfig:
          $ref: '#/components/schemas/BanditConfig'
        hypothesis:
          type: string
          maxLength: 500
          description: Test hypothesis
        minimumSampleSize:
          type: integer
          default: 1000
        confidenceThreshold:
          type: number
          default: 0.95
        minimumRunDays:
          type: integer
          default: 7
        winnerVariantId:
          type: string
          nullable: true
          description: Winning variant ID (set when experiment is completed)
        winnerDeclaredAt:
          type: string
          format: date-time
          nullable: true
        fallbackImageUrl:
          type: string
          format: uri
          description: Image URL to serve after experiment ends
        outputConfig:
          type: object
          properties:
            format:
              type: string
              enum: [png, jpeg, webp]
              default: png
            quality:
              type: number
              default: 90
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ExperimentVariant:
      type: object
      required:
        - id
        - weight
      properties:
        id:
          type: string
          description: Unique variant identifier
          pattern: "^[a-zA-Z0-9_-]+$"
          example: variant-a
        name:
          type: string
          example: New Design
        templateUid:
          type: string
          description: Override template for this variant
        variables:
          type: object
          additionalProperties: true
          description: Template variables for this variant
        weight:
          type: integer
          minimum: 0
          maximum: 10000
          description: Traffic weight in basis points. All variant weights must sum to exactly 10000.
          example: 5000
        isDefault:
          type: boolean
          default: false
        conditions:
          $ref: '#/components/schemas/ConditionTree'
        schedule:
          $ref: '#/components/schemas/VariantSchedule'
        impressions:
          type: integer
          readOnly: true
          description: Total impressions for this variant
        clicks:
          type: integer
          readOnly: true
          description: Total clicks for this variant

    GoalConfig:
      type: object
      properties:
        type:
          type: string
          enum: [impressions_only, click_through]
          default: impressions_only
        destinationUrl:
          type: string
          format: uri
          description: Redirect URL for click-through goals

    BanditConfig:
      type: object
      description: Auto-optimization settings (A/B tests only)
      properties:
        enabled:
          type: boolean
          default: false
        algorithm:
          type: string
          enum: [thompson_sampling]
          default: thompson_sampling
        warmupImpressions:
          type: integer
          default: 50
          description: Minimum impressions before optimization begins
        recomputeIntervalMinutes:
          type: integer
          default: 15

    ConditionTree:
      type: object
      description: Nested AND/OR condition tree for smart link routing (max depth 3)
      properties:
        type:
          type: string
          enum: [group, rule]
        operator:
          type: string
          enum: [AND, OR]
          description: Logic operator for group nodes
        children:
          type: array
          items:
            $ref: '#/components/schemas/ConditionTree'
        property:
          type: string
          description: Context property to evaluate (for rule nodes)
        ruleOperator:
          type: string
          enum: [equals, not_equals, contains, not_contains, starts_with, ends_with, gt, lt, gte, lte]
          description: Comparison operator for rule nodes
        value:
          description: Value to compare against

    VariantSchedule:
      type: object
      description: Time-based activation schedule for scheduled variants
      properties:
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        recurrence:
          type: object
          properties:
            type:
              type: string
              enum: [none, daily, weekly, cron]
              default: none
            cronExpression:
              type: string
              description: Cron expression (when type is cron)
            timezone:
              type: string
              default: UTC
              example: America/New_York

    ExperimentQuota:
      type: object
      properties:
        plan:
          type: string
          example: standard
        quota:
          type: object
          properties:
            ab_test:
              $ref: '#/components/schemas/QuotaUsage'
            smart_link:
              $ref: '#/components/schemas/QuotaUsage'
            scheduled:
              $ref: '#/components/schemas/QuotaUsage'
        maxVariants:
          type: integer
          example: 5
        analyticsRetentionDays:
          type: integer
          example: 90

    QuotaUsage:
      type: object
      properties:
        used:
          type: integer
          example: 2
        limit:
          type: integer
          nullable: true
          description: "null means unlimited"
          example: 5

    ExperimentEvent:
      type: object
      required:
        - event
        - experiment
      properties:
        event:
          type: string
          enum: [impression, view, click, conversion]
          description: Event type
        experiment:
          type: string
          maxLength: 60
          description: Experiment slug
          example: homepage-hero-test
        variantId:
          type: string
          description: Variant that triggered the event
          example: variant-a
        channel:
          type: string
          enum: [web, email, ad, in-app, social, other]
          description: Traffic channel
        device:
          type: string
          enum: [mobile, desktop, tablet]
        referrer:
          type: string
        metadata:
          type: object
          description: Custom metadata (max 10KB, max depth 3)
        source:
          type: string
          enum: [sdk, api]
          default: api
        writeKey:
          type: string
          description: Alternative to X-Write-Key header

    ExperimentEventResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        processed:
          type: integer
          example: 1
        errors:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              error:
                type: string
        warning:
          type: string
          description: "Returns 'write_key_recommended' if no write key was provided"

paths:
  /image:
    post:
      operationId: createImage
      summary: Generate an image
      description: Generate an image from HTML, URL, or template
      tags:
        - Images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: listImages
      summary: List images
      description: Get a paginated list of generated images
      tags:
        - Images
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of images
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImageResponse'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean

  /image/{uid}:
    get:
      operationId: getImage
      summary: Get image details
      tags:
        - Images
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Image details
          content:
            application/json:
              schema:
                type: object
                properties:
                  image:
                    $ref: '#/components/schemas/ImageResponse'
        '404':
          description: Image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /image/canvas:
    post:
      operationId: createCanvasImage
      summary: Generate image from FabricJS canvas
      description: Render an image from FabricJS canvas data
      tags:
        - Images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fabricJSData
              properties:
                fabricJSData:
                  type: object
                  description: FabricJS canvas JSON
                variables:
                  type: object
                  additionalProperties: true
                variableDefinitions:
                  type: array
                  items:
                    $ref: '#/components/schemas/VariableDefinition'
                width:
                  type: integer
                height:
                  type: integer
                fileExtension:
                  type: string
                  enum: [png, jpg, jpeg, webp]
      responses:
        '200':
          description: Canvas image generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'

  /gif:
    post:
      operationId: createGif
      summary: Generate a GIF
      description: Generate an animated GIF from HTML with CSS animations
      tags:
        - GIFs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GifRequest'
      responses:
        '200':
          description: GIF generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GifResponse'
    get:
      operationId: listGifs
      summary: List GIFs
      tags:
        - GIFs
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of GIFs
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifs:
                    type: array
                    items:
                      $ref: '#/components/schemas/GifResponse/properties/gif'

  /gif/capture:
    post:
      operationId: captureGif
      summary: Capture GIF from URL
      description: Record a GIF from a live webpage
      tags:
        - GIFs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GifCaptureRequest'
      responses:
        '200':
          description: GIF captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GifResponse'

  /pdf/render:
    post:
      operationId: renderPdf
      summary: Generate a PDF
      description: Generate a single-page PDF from a template
      tags:
        - PDFs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfRenderRequest'
      responses:
        '200':
          description: PDF generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfResponse'

  /pdf/multi-page:
    post:
      operationId: renderMultiPagePdf
      summary: Generate multi-page PDF
      description: Generate a PDF with multiple pages from a template
      tags:
        - PDFs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfMultiPageRequest'
      responses:
        '200':
          description: Multi-page PDF generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfResponse'

  /pdf/presets:
    get:
      operationId: getPdfPresets
      summary: Get PDF presets
      description: Get available PDF size presets
      tags:
        - PDFs
      responses:
        '200':
          description: PDF presets
          content:
            application/json:
              schema:
                type: object
                properties:
                  presets:
                    type: object

  /templates:
    get:
      operationId: listTemplates
      summary: List templates
      tags:
        - Templates
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
            default: 12
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, oldest, name]
            default: newest
        - name: outputFormat
          in: query
          schema:
            type: string
            enum: [all, image, pdf]
            default: all
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createTemplate
      summary: Create a template
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                html:
                  type: string
                fabricJSData:
                  type: object
                width:
                  type: integer
                height:
                  type: integer
                type:
                  type: string
                category:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                variableDefinitions:
                  type: array
                  items:
                    $ref: '#/components/schemas/VariableDefinition'
                outputFormat:
                  type: string
                  enum: [image, pdf]
      responses:
        '200':
          description: Template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    $ref: '#/components/schemas/Template'

  /templates/{uid}:
    get:
      operationId: getTemplate
      summary: Get template
      tags:
        - Templates
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    $ref: '#/components/schemas/Template'
        '404':
          description: Template not found
    put:
      operationId: updateTemplate
      summary: Update template
      tags:
        - Templates
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                html:
                  type: string
                fabricJSData:
                  type: object
                width:
                  type: integer
                height:
                  type: integer
                variableDefinitions:
                  type: array
                  items:
                    $ref: '#/components/schemas/VariableDefinition'
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  template:
                    $ref: '#/components/schemas/Template'
    delete:
      operationId: deleteTemplate
      summary: Delete template
      tags:
        - Templates
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Template deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /templates/{uid}/render:
    post:
      operationId: renderTemplate
      summary: Render a template
      description: Generate an image from a template with variables
      tags:
        - Templates
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variables:
                  type: object
                  additionalProperties: true
                  description: Key-value pairs of template variable values
                format:
                  type: string
                  enum: [png, jpeg, webp, pdf]
                  default: png
                  description: Output image format
                quality:
                  type: number
                  minimum: 0.1
                  maximum: 1
                  default: 0.9
                  description: Image quality (0.1-1.0)
                layout:
                  type: string
                  pattern: '^[a-z0-9-]{1,64}$'
                  description: Render a specific layout variant (e.g. 'twitter-post', 'facebook-post'). Omit for default layout.
                layouts:
                  type: array
                  items:
                    type: string
                  maxItems: 20
                  description: Render multiple layout variants in one request. Use 'default' for the base layout. Returns an array of results.
                  example: ["default", "twitter-post", "facebook-post"]
      responses:
        '200':
          description: Rendered image(s). Always returns a `results` array.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderResponse'

  /templates/{uid}/variables:
    get:
      operationId: getTemplateVariables
      summary: Get template variables
      tags:
        - Templates
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Template variables
          content:
            application/json:
              schema:
                type: object
                properties:
                  templateUid:
                    type: string
                  templateName:
                    type: string
                  variables:
                    type: array
                    items:
                      $ref: '#/components/schemas/VariableDefinition'

  /templates/{uid}/batch-render:
    post:
      operationId: batchRenderTemplate
      summary: Batch render template
      description: Generate multiple images from a template in one request
      tags:
        - Batch
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRenderRequest'
      responses:
        '202':
          description: Batch job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'

  /templates/batch/{batchId}/results:
    get:
      operationId: getBatchResults
      summary: Get batch job results
      tags:
        - Batch
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch job status and results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatus'

  /templates/batch/{batchId}/cancel:
    post:
      operationId: cancelBatch
      summary: Cancel batch job
      tags:
        - Batch
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch job cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  batchId:
                    type: string
                  status:
                    type: string
                  message:
                    type: string

  /webhook-subscriptions:
    get:
      operationId: listWebhookSubscriptions
      summary: List webhook subscriptions
      tags:
        - Webhooks
      parameters:
        - name: event
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, failed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createWebhookSubscription
      summary: Create webhook subscription
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
                - targetUrl
              properties:
                event:
                  type: string
                  enum: [render.completed, render.failed, binding.updated, binding.failed]
                targetUrl:
                  type: string
                  format: uri
                platform:
                  type: string
                  enum: [zapier, make, n8n, pipedream, custom]
                  default: custom
                filters:
                  type: object
                  properties:
                    templateId:
                      type: string
                    bindingId:
                      type: string
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    allOf:
                      - $ref: '#/components/schemas/WebhookSubscription'
                      - type: object
                        properties:
                          secret:
                            type: string
                            description: Webhook signing secret (only returned on creation)

  /webhook-subscriptions/{uid}:
    get:
      operationId: getWebhookSubscription
      summary: Get webhook subscription
      tags:
        - Webhooks
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    $ref: '#/components/schemas/WebhookSubscription'
    put:
      operationId: updateWebhookSubscription
      summary: Update webhook subscription
      tags:
        - Webhooks
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetUrl:
                  type: string
                  format: uri
                filters:
                  type: object
                status:
                  type: string
                  enum: [active, paused]
      responses:
        '200':
          description: Subscription updated
    delete:
      operationId: deleteWebhookSubscription
      summary: Delete webhook subscription
      tags:
        - Webhooks
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subscription deleted

  /bindings:
    get:
      operationId: listBindings
      summary: List bindings
      tags:
        - Bindings
      parameters:
        - name: templateId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, error]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of bindings
          content:
            application/json:
              schema:
                type: object
                properties:
                  bindings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Binding'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createBinding
      summary: Create a binding
      tags:
        - Bindings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - templateId
                - dataSource
                - mapping
              properties:
                templateId:
                  type: string
                name:
                  type: string
                dataSource:
                  type: object
                  required:
                    - type
                  properties:
                    type:
                      type: string
                      enum: [http, webhook, static]
                    url:
                      type: string
                      format: uri
                    method:
                      type: string
                      enum: [GET, POST]
                    headers:
                      type: object
                      additionalProperties:
                        type: string
                    credentials:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [api_key, bearer_token, basic_auth, custom_header]
                        value:
                          type: string
                mapping:
                  type: object
                  additionalProperties:
                    type: string
                defaults:
                  type: object
                refreshPolicy:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [ttl, etag, webhook, manual]
                    ttlSeconds:
                      type: integer
                    onError:
                      type: string
                      enum: [serve_stale, serve_error, serve_default]
                outputConfig:
                  type: object
                  properties:
                    format:
                      type: string
                      enum: [png, jpeg, webp, pdf]
                    quality:
                      type: integer
      responses:
        '201':
          description: Binding created
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding:
                    $ref: '#/components/schemas/Binding'

  /bindings/{uid}:
    get:
      operationId: getBinding
      summary: Get binding
      tags:
        - Bindings
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Binding details
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding:
                    $ref: '#/components/schemas/Binding'
    put:
      operationId: updateBinding
      summary: Update binding
      tags:
        - Bindings
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                dataSource:
                  type: object
                mapping:
                  type: object
                defaults:
                  type: object
                refreshPolicy:
                  type: object
                outputConfig:
                  type: object
                status:
                  type: string
                  enum: [active, paused]
      responses:
        '200':
          description: Binding updated
    delete:
      operationId: deleteBinding
      summary: Delete binding
      tags:
        - Bindings
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Binding deleted

  /gif/{uid}:
    get:
      operationId: getGif
      summary: Get GIF details
      description: Retrieve details of a specific GIF by its UID. No authentication required.
      tags:
        - GIFs
      security: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: GIF details
          content:
            application/json:
              schema:
                type: object
                properties:
                  gif:
                    $ref: '#/components/schemas/GifResponse'
        '404':
          description: GIF not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/api:
    get:
      operationId: listExperiments
      summary: List experiments
      description: Retrieve all experiments for the authenticated team.
      tags:
        - Experiments
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [ab_test, smart_link, scheduled]
          description: Filter by experiment type
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, running, paused, completed]
          description: Filter by status
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of results per page
      responses:
        '200':
          description: List of experiments
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Experiment'
                  total:
                    type: integer
                    description: Total number of experiments matching filters
                  page:
                    type: integer
                  limit:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createExperiment
      summary: Create experiment
      description: |
        Create a new experiment. Requires at least 2 variants with weights summing to exactly 10000.

        Slug must be unique among active experiments, 3-60 characters, lowercase alphanumeric and hyphens.
        Reserved slugs: events, api, admin, health, status, pixel, track, sdk.
      tags:
        - Experiments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - slug
                - variants
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Experiment name
                  example: Homepage Hero A/B Test
                type:
                  type: string
                  enum: [ab_test, smart_link, scheduled]
                  description: Experiment type
                slug:
                  type: string
                  pattern: "^[a-z0-9][a-z0-9-]{1,58}[a-z0-9]$"
                  description: URL-friendly identifier (3-60 chars)
                  example: homepage-hero-test
                templateUid:
                  type: string
                  description: Default template UID (optional if each variant has its own)
                  example: tmpl_xyz789
                variants:
                  type: array
                  minItems: 2
                  items:
                    $ref: '#/components/schemas/ExperimentVariant'
                  description: "Variants with weights summing to 10000"
                goalConfig:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [impressions_only, click_through]
                      default: impressions_only
                    destinationUrl:
                      type: string
                      format: uri
                banditConfig:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      default: false
                    algorithm:
                      type: string
                      enum: [thompson_sampling, epsilon_greedy]
                      default: thompson_sampling
                    warmupImpressions:
                      type: integer
                      default: 50
                    recomputeIntervalMinutes:
                      type: integer
                      default: 15
                hypothesis:
                  type: string
                  maxLength: 500
                minimumSampleSize:
                  type: integer
                  default: 1000
                confidenceThreshold:
                  type: number
                  default: 0.95
                minimumRunDays:
                  type: integer
                  default: 7
                outputConfig:
                  type: object
                  properties:
                    format:
                      type: string
                      enum: [png, jpeg, webp]
                      default: png
                    quality:
                      type: number
                      default: 90
                fallbackImageUrl:
                  type: string
                  format: uri
                fallbackTemplateUid:
                  type: string
      responses:
        '201':
          description: Experiment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Slug already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Experiment quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/api/quota:
    get:
      operationId: getExperimentQuota
      summary: Get experiment quota
      description: Check experiment usage and limits for your current plan.
      tags:
        - Experiments
      responses:
        '200':
          description: Quota information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentQuota'

  /experiments/api/{uid}:
    get:
      operationId: getExperiment
      summary: Get experiment
      description: Retrieve a specific experiment by UID.
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Experiment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateExperiment
      summary: Update experiment
      description: |
        Update an experiment. Available fields depend on the current status:
        - **draft/paused**: All fields can be updated
        - **running**: Only name, confidenceThreshold, minimumRunDays, goalConfig.destinationUrl
        - **completed**: Only name
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                slug:
                  type: string
                variants:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExperimentVariant'
                goalConfig:
                  type: object
                banditConfig:
                  type: object
                hypothesis:
                  type: string
                confidenceThreshold:
                  type: number
                minimumRunDays:
                  type: integer
                outputConfig:
                  type: object
                fallbackImageUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Experiment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '400':
          description: Validation error or field not editable in current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteExperiment
      summary: Delete experiment
      description: Soft-delete an experiment. Running experiments must be paused or completed first.
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Experiment deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    example: true
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/api/{uid}/start:
    post:
      operationId: startExperiment
      summary: Start experiment
      description: |
        Start a draft or paused experiment. Begins serving variant images and tracking events.

        Valid transitions: `draft` → `running`, `paused` → `running`
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Experiment started
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '409':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/api/{uid}/pause:
    post:
      operationId: pauseExperiment
      summary: Pause experiment
      description: |
        Pause a running experiment. Stops serving variant images and tracking.

        Valid transition: `running` → `paused`
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Experiment paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '409':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/api/{uid}/complete:
    post:
      operationId: completeExperiment
      summary: Complete experiment
      description: |
        Complete an experiment and declare a winner. Requires `winnerVariantId`.

        Valid transitions: `running` → `completed`, `paused` → `completed`
      tags:
        - Experiments
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - winnerVariantId
              properties:
                winnerVariantId:
                  type: string
                  description: ID of the winning variant
                  example: variant-a
      responses:
        '200':
          description: Experiment completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
        '400':
          description: Missing or invalid winnerVariantId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /s/events:
    post:
      operationId: trackExperimentEvents
      summary: Track experiment events
      description: |
        Track impressions, views, clicks, and conversions for experiments.
        Accepts a single event object or an array of up to 100 events.

        **Authentication**: Use the `X-Write-Key` header or `writeKey` field in the request body.
        Events are accepted without a write key, but this is strongly discouraged as it
        allows anyone to inject events and corrupt experiment data.

        **Rate limit**: 1000 requests/minute per IP. Max batch size: 100 events.
      tags:
        - Experiments
      security:
        - writeKeyAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ExperimentEvent'
                - type: array
                  items:
                    $ref: '#/components/schemas/ExperimentEvent'
                  maxItems: 100
          text/plain:
            schema:
              type: string
              description: JSON string (for sendBeacon compatibility)
      responses:
        '200':
          description: Events processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentEventResponse'
        '400':
          description: Invalid event data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /s/{slug}/click:
    get:
      operationId: trackExperimentClick
      summary: Click tracking redirect
      description: |
        Redirect users through a tracked click. Records a click event and redirects
        to the experiment's `goalConfig.destinationUrl`.

        Use this in `<a>` tags wrapping experiment images for click-through tracking.
      tags:
        - Experiments
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Experiment slug
      responses:
        '302':
          description: Redirect to destination URL
        '404':
          description: Experiment not found

  /s/{slug}/pixel.gif:
    get:
      operationId: trackExperimentPixel
      summary: Tracking pixel
      description: |
        Returns a 1x1 transparent GIF and records an impression event.
        Use this for email open tracking or invisible impression tracking.

        ```html
        <img src="https://api.pictify.io/s/homepage-hero/pixel.gif" width="1" height="1" />
        ```

        Always returns a valid pixel, even for invalid slugs (to prevent broken images).
      tags:
        - Experiments
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Experiment slug
      responses:
        '200':
          description: 1x1 transparent GIF
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
          content:
            image/gif:
              schema:
                type: string
                format: binary

tags:
  - name: Images
    description: Image generation endpoints
  - name: GIFs
    description: GIF generation and capture
  - name: PDFs
    description: PDF generation
  - name: Templates
    description: Template management
  - name: Batch
    description: Batch rendering operations
  - name: Experiments
    description: A/B testing, smart links, and scheduled variant experiments
  - name: Webhooks
    description: Webhook subscription management
  - name: Bindings
    description: Data binding for auto-rendering
